.pixelContainer {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;;
}

.buttonImage {
    width: 11rem;
    height: 3.2rem;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    position: relative;
}