.pixelContainer {
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: relative;
}

.buttonImage {
    width: 11rem;
    height: 3.2rem;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    position: relative;
    animation: pulse 2s cubic-bezier(0.8, 0, 0.6, 1) infinite;
}

.buttonWithAnimation {
    width: 11rem;
    height: 3.2rem;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    position: relative;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}