.pixelContainer {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;;
}

.buttonImage {
    width: 30%;
    height: auto;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    position: relative;
}